body {
    margin: 0;
}

main {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:"head head head"
                        "about about self"
                        "projects projects self"
                        "contact contact self"
                        "footer footer footer";
}

/* HEADER */
header {
    height: 100px;
    grid-area: head;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    color: black;
    margin: 0 10px;
}

/* ABOUT ME */
#about {
    margin-left: 20px;
    grid-area: about;
}

/* PROJECTS */
#projects {
    margin-left: 20px;
    grid-area: projects;
}

/* CONTACT */
#contact {
    margin-left: 20px;
    grid-area: contact;
}

#contact .methods {
    display: flex;
    align-items: center;
}

#contact .methods a {
    color: black;
    margin: 0 30px;
}

/* SELF */
#self {
    grid-area: self;
}

#self .picture {

}

#self img {
    width: 200px;
}