html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: left;
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
                        "header header header"
                        "about about self"
                        "projects projects self"
                        "contact contact self"
                        "footer footer footer";
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    background-color: lightskyblue;
    grid-area: header;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    color: black;
    margin: 0 10px;
}

/* ABOUT ME */
#about {
    grid-area: about;
}

/* PROJECTS */
#projects {
    grid-area: projects;
}

/* CONTACT */
#contact {
    grid-area: contact;
}

#contact .methods {
    display: flex;
    align-items: center;
}

#contact .methods a {
    color: black;
}

/* SELF */
.self {
    grid-area: self;
}

.self .picture {

}

.self img {
    width: 300px;
}