html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

/* HEADER */
header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
}

img {
    width: 300px;
}